<html>

<head>
</head>

<body>
    <h1>
        Books
    </h1>
    <table>
        <thead>
           <td>Title</td>
           <td>Author</td>
        </thead>

        {% for book in books %}
           <tr>
              <td>{{book[0]}}</td>
              <td>{{book[1]}}</td>
           </tr>
        {% endfor %}
    </table>
    <h1>
        Add Book
    </h1>
    <form method=post action="/addbook">
        Title: <input type=text name=title>
        Author: <input type=text name=author>
        <input type=submit>
    </form>
    {% if adminAllowed == 1 %}
    <a href="/users">Users</a>
    {%  endif %}
    <br>
    <a href=/logout>Logout</a>
</body>
</html>