<html>

<head>
</head>

<body>
    <h1>
        Users
    </h1>
    <table>
        <thead>
           <td>Id</td>
           <td>Login</td>
           <td>Password</td>
           <td>Admin</td>

        </thead>

        {% for user in users %}
           <tr>
              <td> {{user[0]}} </a></td>
              <td> {{user[1]}} </a></td>
              <td>{{user[2]}}</td>
              <td>{{user[3]}}</td>
           </tr>
        {% endfor %}
    </table>
    <br>
    <a href=/users>Users</a>
</body>
</html>